@page
@model MyApp.Namespace.LoginModel
@{
}


<div class="jumbotron">
  <h1 class="display-4">Log in!</h1>
  <p class="lead">Welcome back!</p>
  <hr class="my-4">
  <p>Provide your information below to log in</p>
	<!-- Form partial -->
  <!-- Add form partial -->
  <partial name="_Form"/> 
  
</div>
