@page
@model MyApp.Namespace.RegisterModel
@{
}

<div class="jumbotron">
  <h1 class="display-4">Register!</h1>
  <p class="lead">Don't have an account? Registration is quick and easy!</p>
  <hr class="my-4">
  <p>Provide your information below to create an account</p>
	<!-- Form partial -->
  <!-- Add form partial -->
  <partial name="_Form"/> 
  
</div>